.nav-item:hover {
   background-color: rgb(108, 101, 134);
}

.slider {
   width: 100%;
   margin: .2px auto;
   overflow: hidden;
 }
 
 .slide {
   width: 100%;
   height: 50%;
 }
 
 .slider-container {
   display: flex;
   position: relative;
   transition: transform 0.5s ease;
 }
 
 
 .arrow {
   width: 30px;
   position: absolute;
   top: 5%;
 }
 
 .arrow-left {
   left: 1%;
 }
 
 .arrow-right {
   right: 1%;
 }

h1 {
   font-size: 120%;
   ;font-weight: bold
}

h5, h6 {
   text-align: center;
   background-color: rgb(108, 101, 134);
   margin: auto;
   color: white;
   padding-bottom: 0.5%;
   font-family:'Lato', sans-serif;
   font-size: large;
 }

h2 {
   margin-bottom: 0.5%;
   font-size: large;
 }

.col-8 {
   border: 1px solid black;
}

h3, h4 {
   font-family: 'Lato', sans-serif;
}

.col-lg-9  {
   border: 1px solid black;
   margin-top: 0.5%;
   padding: 1%;
}

.col-lg-3  {
   border: 1px solid black;
   border-left: none;
   margin-top: 0.5%;
   padding: 1%;
}

.col-6 {
  text-align: center;
  float: left;
}

.col-6 img {
  margin-right: 1.9%;
  margin-top: 2%;
  width: 90%;
}

.col-3 {
   border: 1px solid black;
   border-left: none;
   margin-top: 0.5%;
   padding: 1%;
}

.artical {
   position: fixed;
   padding: 1%;
   text-align: left;
   float: left;
   margin-left: -2%;
}

.dropdown-item :hover {
   background-color: rgb(108, 101, 134);
}

.page-footer {
   width: 103%;
   float: left;
   margin-left: -1.5%;
   margin-top: 0.5%;
   border: 1px solid black;
   background-color: rgb(236, 235, 235);
   padding: 1%;
}

.footer-menu ul {
   list-style-type: none;
   text-align: left;
   padding: 1%;
   /* margin: 0.5% 1%; */
   column-count: 1;
   float: left;
}

.footer-menu li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 80%;
   line-height: 100%;
   padding: 2px;
}

.copy {
   text-align: left;
   font-size: 70%;
   padding: 0 3%;
   margin: 2% 20% 0 1%;
   line-height: 100%;
}

.phone > img {
   width: 1.5%;
   height: 1.5%;
}

.phone1 {
   margin: 10%;
}

.phone2 {
   margin: 5%;
}

.mail {
   margin: 5%;
}

.phone1 > img {
   width: 5%;
   height: 5%;
}

.phone2 > img {
   width: 5%;
   height: 5%;
}

.mail > img {
   width: 5%;
   height: 5%;
}

@media screen and (max-width: 992px) {
   .col-lg-3 {
               border-left: none;
         }
   .navbarToggleExternalContent {
            display: none;
   }
         }

@media screen and (min-width: 400px) and (max-width: 992px) {
   .col-lg-3 {
               border-left: 1px solid black;
            }
   .navbar {
               display: none;
      }
   .artical {
      display: none;
   }
         }

@media screen and (max-width: 400px) {
   .col-lg-3 {
               border-left: 1px solid black;
            }
   .navbar {
               display: none;
      }
      .artical {
         display: none;
      }
         }




